<div class="show-container row bg-show">
  <%= render "shared/heading" %>
  <div class="col">
    <%= render "shared/pill_sm" %>
  </div>
</div>
<div class='row'>
  <div class='col-6'>
    <h2 class='mt-2'><i class="fas fa-tools"></i>Subtitle</h2>
    <p class='text-wrap' style="width: 15rem;">Come take a look! at John now!, he has a number of services available from general handyman to full bathroom makeovers! </p>
  </div>
  <div class='col mt-2 border py-3'>
    <form>
      <h1 class="h3 mb-3 fw-normal">Make contact now</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Preferred Start Date</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Comment</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Book Now</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </form>
  </div>
</div>
</div>
<%#= simple_form_for [@service, @booking] do |f| %>
  <%#= f.input :start_date %>
  <%#= f.input :end_date %>
  <%#= f.input :comment %>
  <%#= f.submit "Book Now", class: "btn btn-primary" %>
  <%#end %>
