.log-in {
  width: 400px;
  border-radius: 5px;
}

.log-in h2 {
  text-align: center;
}

.login-img {
  text-align: center;
  margin-bottom: 4px;
}

.form-actions {
  justify-content: space-between;

}

.login-btn {
 text-align: center;
}

.sg-up {
  width: 40%;
  text-align: center;
}

.lg-in {
  width: 100%;
}
