<div class="flex-container">
<hr style="width:10%", size="8">
<h1 class="show-heading"><%= @service.title %></h1>
<p class="fw-light text-decoration-underline text-white"><%= @service.category %></p>
</div>
