<div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-dark text-white">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="https://res.cloudinary.com/dh8a307rs/image/upload/v1656038889/settings_ztcvmb.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
  </div>
  <div class="col-lg-6 border border-white border-3">
    <h1 class="display-5 fw-bold lh-1 mb-3 m-1">Rent-A-Tradie</h1>
    <p class="lead m-1 mb-3">A platform to bring everyday people together to make the task of completing around the home chores quickly, but also pleasing to the hip pocket by removing the costs of marketing and operating a business for the tradie. </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <% if user_signed_in? %>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="enter category..." aria-label="tradie" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
      <% end  %>
    </div>
  </div>
</div>
