<div class="flex-inline ">
  <h4 class="text-center text-white">Top Rated</h4>
  <img class="rounded-pill show-image-sm img-pill" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="">
  <div class="flex-container mt-1 centered-show">
    <h6>4.7 |</h6>
    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
  </div>
  <p class="fw-lighter centered-show">5000 Reviews</p>
</div>
