<div class="flex-inline ">
  <h4 class="text-center text-white">Top Rated</h4>
  <%= cl_image_tag "#{@service.photo.key}", class: "rounded-pill show-image-sm img-pill"%>
  <div class="flex-container mt-1 centered-show">
    <h6>4.7 |</h6>
    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
  </div>
  <p class="fw-lighter centered-show fst-italic fs-6">5000 Reviews</p>
</div>
