.filter{
  // border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  text-align: center;

  i{
    font-size: 25px;
  }
}


.block{
  display: block;
}


li{

  margin-right: 10px;
}
