.show-heading {
  color: white;
  font-size: 4rem;
}

.flex-container {
  display: flex;
}

.flex-container hr {
  color: white;
  background-color: white;
  margin-top: 36px;
}

.show-image {
  height: 500px;
  border: 3px solid lightgray;
  padding: 4px;
}

.show-image-sm {
  height: 300px;
  border: 3px solid lightgray;
  padding: 4px;
}

.img-pill {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.flex-inline {
  display: inline-block;
}

.centered-show {
  text-align: center;
  justify-content: center;
}

.show-container {
  position: relative;
}

.bg-show {
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #000000 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 8px;
}

.fa-star {
  color: black;
}

.roadmap {
  background-repeat: no-repeat;
  background-image: url(roadmap.png);
  background-size: cover;
  opacity: 70%;
}

.happy-show-image {
  height: 80px;
  position: absolute;
  top: 70%;
  right: 10%;
}
